body{
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-size: 0.93rem;
	padding: 0px;
	margin: 0px;
	background-color: #fff;
}

.bg-colored{
	background-color: rgb(102,38,101);
	color: #fff;
}

.container{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	overflow: hidden;
	text-align: center;
	width: 80%;
}

ul{
	margin:0;
	padding: 0;
}
header{
	border-bottom:3px solid #ffc0cb;
	padding: 15px 0;
}

header a{
	color: white;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 1rem;
}

header li{
	padding: 0 20px;
}

header h1{
	margin:0;
	font-weight: normal;
}

header h1 .highlight,
header .current a{
	color: #ffc0cb;
}

header nav{
	margin-left:auto;
	margin-right: auto;
}

header nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	padding: 0;
}
	
section#showcase{
	min-height: 400px;
	background-image: url('../images/bakery-hero-image-1920.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: row;
}

section#showcase .showcase-inner{
	display: block;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
	display: flex;
	flex-direction: row;
}

section#showcase .container{
	flex-direction: column;
}

section#showcase h2{
	font-size: 4em;
	font-weight: normal;
	text-shadow: 0px 0px 30px #444;
	margin-bottom: 30px;
	margin-top: 30px;
}

section#showcase p {
	font-size:1.25rem;
}

section#newsletter{
	padding: 15px 0;
}	
	
section#newsletter input{
	padding: 4px;
	height: 25px;
	width: 250px;
}

section#newsletter form{
	margin-left: auto;
	margin-right: auto;
}

.button-1 {
	height: 38px;
	background-color: rgb(197, 26, 132);
	border: none;
	padding: 0 20px;
	color: white;
}

.box .fa-bread-slice {
	font-size: 5em;
	color: 	#EEE8AA
}

.box .fa-stroopwafel {
	font-size: 5em;
	color: 	#EEE8AA
}

.box .fa-cookie {
	font-size: 5em;
	color: 	#EEE8AA
}

section#boxes{
	margin-top: 20px;
}

section#boxes .box{
	padding: 10px;
	text-align: center;
}

section#boxes .box img {
	width: 90px;
}

section#content .container {
	align-items: start;
	text-align: left;
	margin: 1rem auto;
}

section#content .food_box {
	background-color: #FFD9D4;
	padding: 15px;
	border: 5px solid white;
}

section#content .remove_bold {
	font-weight: normal;
}

section#content .remove_bullets {
		list-style: none;
}
aside{
	padding: 0 1rem 1rem 1rem;
	margin-left: 0;
	background-color: rgb(102,38,101);
	color: white;
}

footer {
	padding: 20px;
	margin-top: 20px;
	color: white;
	text-align: center;
	background-color: rgb(197,26,132);
}

nav a:hover{
	color: #ffc0cb;
}

textarea {
	max-width: 200px;
}
@media (min-width: 768px){
	/* restores the showcae h1 height */
	section#showcase h2{
		font-size: 6em;
	}
	
	/*restores width based upon twxtarea "cols" */
	textarea{
		max-width: inherit;
	}
	
	/*makes flex boxes go back to side by side */
	.container{
		flex-direction: row;
	}
	
	/*this will stop the newsletter from centering in the section */
	section#newsletter form{
		margin-right: 0;
	}
	
	/* adds white space to the aside*/
	aside{
		margin-left: 3rem;
	}
}
/* resets the header container so mobile menu can go full width */
header .container {width: 100%;}
header .container #branding {width: 80%;}

/* mobile menu goes full width and aligns center */
nav{
	text-align: center;
	line-height: 70px;
	width: 100%;
}

/* hides nav menu */
header nav ul{
	display: none;
}

/* mobile menu needs a bottom border to sperate the options */
nav ul a {
	display: block;
	border-top: 1px solid #EAEAEB;
	margin: 0;
}

#toggle{
	display: none;
}

/* makes the toggle menu a drop down */
#toggle:checked ~ul{
	display: block;
}

/* overrides the padding from the last lab */
header li {padding: 0px;}

header nav ul{ margin-bottom: -15px;}

/* style for the hamburger bar */
nav label {
	font-size: 26px;
}

/* set styles for the non-mobile menu */
@media only screen and (min-width: 768px) {
	/* nav menu auto sizes */
	nav { width: auto; }
	nav label { display: none}
	
	/* moves menu up to the right edge */
	header nav { margin-right: 0px; }
	
	/* makes menu horizontal again */
	header nav ul {
		display: flex;
		flex-direction: row;
	}
	/* undo the mobil menu styling */
	nav ul a {
		border-top: 0px;
		margin: 0;
		padding: 0 10px;
	}
	
	header nav ul {margin-bottom: 0px;}
	
	header .container { width: 95%; }
	header .container #branding {width: auto;}
}

@media only screen and (min-width: 1000px) {
	
	/* add some more padding for links on large tablets/desktops */
	nav ul a {
		padding: 0 20px;
	}
	
	/* restores the header container width */
	header .container {width: 80%;}	
}


h1, h2, h3{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}
